.App {
  text-align: center;
}
h1{ text-align: center; 
  color: aliceblue;
font-size: 3rem;}
p{ 
  text-align: center;
  color: aliceblue;
  font-size: 1rem;}
*{
  background-color:#07012A ;
padding: 0;
margin: 3px;}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  
  

}
.sngl-prd{
  color:white;
  display: grid;
 justify-content: center;
}
.form{
  margin-top:20px;
  padding-bottom:20px;
  margin-left:5rem;
  margin-right:5rem;
  border:1px solid;
  color:white;
  display: grid;
 justify-content: center;

 
}
.form input, button{
 background-color:white;
}

.section, .product{
  dispaly: flex;
  justify-content:center;

  align-items: center;
}
.nav .btn{
  justify-content: end;
}
.lnk {
  text-decoration: none;
  color: aliceblue;
  padding :20px
 
}

.lnk{
  color: wheat;
}
.active{
  color: aqua;
}

.art {
  display: grid;
  justify-content: center;
  color: aqua;
  height:100vh;
 
}
.rtn-hme{ 
  align-items: center;
  justify-content: center;
  text-align: center; 
  color: aliceblue;
font-size: 3rem;;
}


